################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
/GhostCore.Rendering/.vs/GhostCore.Rendering/DesignTimeBuild
/GhostCore.Rendering/.vs/GhostCore.Rendering/v16/.suo
